body {
    background-color: rgb(0, 0, 0);
    color: #543859;
}
#google {
    color: #F71B23 ;

}
#facebook {
    color: #1877F2;
}
#animate {
    animation-name: loggin;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    
}

@keyframes loggin {
 from {color: #9a7fe4}
 to { color: #543859 }
}  

#animate2 {
  animation-name: registrera;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes registrera {
  0% {
    margin-left: 60%;
    color: #543859;
  }
  100% {
    margin-left: 30%;
    color: #9a7fe4;
  }
  
}

h1 {
  text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.containerbox {
    overflow: hidden;
      margin-bottom: 10rem;
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      height: 60%;
  }
  h2 {
    font-size:2rem;
    margin-bottom:1rem;
  }
  .form-container {
    display:flex;
    background-color: #9a7fe4;
    width:50%;
  }
  .right-container {
    display:flex;
    flex:1;
    height:250px;
    justify-content:center;
    align-items:center;
  }
  .right-inner-container {
    width:50%;
    height: 40%;
    text-align: center;
  }

  button {
    border-radius: 20px;
    border: 1px solid #202920;
    background-color:#543859;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
      cursor:pointer;
  }
  button:hover {
    opacity:0.7;
  }